header {
    margin-top: 25px;
}

header h1 {
    text-align: center;
    padding-top: 6px;
    text-transform: uppercase;
}

header h2 {
    text-align: center;
    margin: 2%;
    margin-top: 25px;
}

.filters {
    background-color: lightblue;
    padding-top: 3px;
    padding-bottom: 3px;
}

.filters ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.filters li {
    align-self: center;
    color: black;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    cursor: pointer;
}
.filters .active {
    background-color: aliceblue;
}

.filters li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.filters li a:hover {
    background-color: #111111;
}

.portfolio_in {
    background-color: lightblue;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out
}

.portfolio_in:hover {
    background-color: lavender;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4 s;
}

.portfolio_in {
    padding: 2rem;
    text-align: center;
    min-height: 170px;
}

.portfolio a {
    text-decoration: none;
    color: black;
}

.portfolio_in img {
    width: 100%;
}

.portfolio .col-md-6 {
    margin-top: 4%;
}